# Dependencies
node_modules

# Build output
.next
out
build
dist

# Cache
.turbo
.cache

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Logs
*.log

# OS files
.DS_Store

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Git
.git
.husky
